.container
    .row
      .span12
        .page-header
          %h1
            welcome to cartridge.
  .row.introduction
    .hero-unit
      .span5
        %h2 For Gamers

      .span5
        %h2 For Developers
