.container
  .row
    .span6
      %canvas#game-canvas
      #status
    .span2
      %ul#user-listing.unstyled
    .span4
      #chat-wrapper{:style => 'height:430px'}
        #message-listing
      #chat-footer
        %form.form-inline#chat-form{onsubmit: 'return false'}
          %input{type: 'text', name: 'message', autocomplete: false}
          %button.btn{type: 'submit'} send

