= render :partial => 'game_ui'

- content_for :navbar do
  %ul.nav.pull-left
    - if @game.creator == current_user
      %li.edit-link
        = link_to 'edit this game', edit_game_path(@game)

- content_for :foot do
  -# load some game libs

  -# Step 0: Config cartridge
  = render :partial => 'cartridge_init'

  -# load user's js
  :javascript
    $(function () {
      try {
        #{@game.package}
      } catch (ex) {
      console.error(ex.message);
      }
    });
