-# Step 0: Config cartridge
:javascript 
  Cartridge.config({
    socketUrl: "ws://#{ENV['SOCKET_URL']}/game/dance/singleton/#{@token}",
    userId: "#{@token}"
  })


-# load user's js
-content_for :foot do
  :javascript
    $(function(){ Cartridge.boot(DemoGame) })
