.container
  .row
    .span6
      %canvas#game-canvas
    .span2
      #status
      %ul#user-listing
    .span4
      #chat-wrapper{:style => 'height:300px'}
        .messages
      #chat-footer
        %form.form-inline
          %input{type: 'text', name: 'message'}
          %button.btn{type: 'submit'} send

-content_for :foot do
  -# Step 0: Config cartridge
  :javascript
    Cartridge.config({
      socketUrl: "ws://#{ENV['SOCKET_URL']}/game/dance/singleton/#{@token}",
      userId: "#{@token}"
    })

  -# load user's js
  :javascript
    $(function(){ Cartridge.boot(DemoGame) })
