.container
  .row
    .span8
      %canvas#game-canvas
    .span2
      %ul#user-listing
    .span2
      #chat-wrapper
        .messages

        .push-chat-footer
      #chat-footer

-content_for :foot do
  -# Step 0: Config cartridge
  :javascript
    Cartridge.config({
      socketUrl: "ws://#{ENV['SOCKET_URL']}/game/dance/singleton/#{@token}",
      userId: "#{@token}"
    })

  -# load user's js
  :javascript
    $(function(){ Cartridge.boot(DemoGame) })
