.container
  .row
    .span12
      .page-header
        %h1
          I'm
          %a{href: root_path} home.
          %small#status
      #messages

:javascript
  $(function(){
    Cartridge.log( Cartridge.config.SOCKET_URL );
    SocketDemo("");
  });
