.container
  .row
    .span12
      .page-header
        %h1
          I'm home.
          %small#status
      #messages

:javascript
  $(function(){
    SocketDemo("ws://#{ ENV['SOCKET_URL'] }/");
  });
