@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

#message-listing, #user-listing {
  .current {
    color: @blue;
  }

  .other {
    color: @green;
  }

  .system {
    color: @orange;
  }
}

#chat-wrapper {
  margin-bottom: 8px;
  overflow-y: scroll;
}

