@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

.game-listing {
  .name {
    font-size: 28px;
    line-height: 32px;
    color: @grayDark;
    small {
      font-size: 16px;
      color: @grayLight;
    }
  }
  .links {
    font-size: 16px;
    color: @grayLight;
  }
}

#message-listing, #user-listing {
  .current { color: @blue; }
  .other   { color: @green; }
  .system  { color: @orange; }
}

#user-listing-wrapper {
  height: 90px;
  overflow-y: scroll;
  border-bottom: 2px solid @grayLighter;
  margin-bottom: 8px;
  // border: 1px solid @blue;
}

#chat-wrapper {
  height: 300px;
  margin-bottom: 8px;
  overflow-y: scroll;
  // border: 1px solid @green;

  #message-listing {
    .message {
      font-size: 12px;
      line-height: 12px;
      margin: 4px 0 6px;
      .username {
        font-size: 11px;
        line-height: 8px;
        .opacity(90);
      }
    }
  }
}

#package {
  position: absolute;
  width: 920px;
  height: 400px;
  padding: 0;
  margin: 0;
}

.package-container {
  position: relative;
  width: 920px;
  height: 400px;
}
